<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="active">
        Product
      </li>
    </ol>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/001/242/303/06a.png" class="img-responsive" style="padding:20px;">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default" style="padding:20px;">
        <div class="panel-body">
          <h2 style="text-align: left;">
            t
          </h2>
          <h4 style="text-align: left;padding-bottom:20px;">$$$$$$$$</h4>
          <!-- Selector -->
          <select class="selectpicker">
            <option>Color</option>
            <option>Black</option>
            <option>White</option>
          </select>
          <select class="selectpicker" style="margin-bottom:20px;">
            <option>Size</option>
            <option>S</option>
            <option>M</option>
          </select>
          <br>
          <button type="submit" class="btn btn-default btn-full" style="border-radius: 0 !important;background-color:rgb(253, 253, 253);color:rgb(0, 0, 0);">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>