<div class="container stuff-container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="http://i0.kym-cdn.com/photos/images/facebook/001/242/303/06a.png" class="img-responsive">
                <h4 style="text-align: center">t</h4>
                <div class="row">
                    <div style="display: flex; justify-content: center;">
                        <button routerLink="/details" class="btn btn-success">VIEW DETAILS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>