<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Navbar Form -->
      <form role="form" class="navbar-form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
              </button>
            </span>
            <input id="1" class="form-control" type="text" name="search" placeholder="Search" required/>

          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Cart</a>
        </li>
        <li>
          <a href="#">Check Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header" style="padding-top: 20px;padding-left:10px;">
  <h1>
    <b>Simple.</b>
  </h1>
</div>
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active">
      <a href="#">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li>
      <a href="#">Accessories</a>
    </li>
    <li>
      <a href="#">Denim</a>
    </li>
    <li>
      <a href="#">Footwear</a>
    </li>
    <li>
      <a href="#">Jeans</a>
    </li>
    <li>
      <a href="#">Outwear</a>
    </li>
    <li>
      <a href="#">Pants</a>
    </li>
    <li>
      <a href="#">Shirts</a>
    </li>
    <li>
      <a href="#">T-Shirts</a>
    </li>
    <li>
      <a href="#">Shorts</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>